<?xml version="1.0" encoding="utf-8" ?>
<phpunit
    colors="true"
    bootstrap="./vendor/autoload.php"
	type="coverage-text" target="src/serviceBundle/" charset="UTF-8">
	
    <filter>
		
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">./src/serviceBundle/serviceBundle.php</directory>
		</whitelist>
	</filter>
	
	 <logging>
        <log type="coverage-clover" target="clover.xml"/>
    </logging>
	
</phpunit>